# Elements of Computing II 

Student Name: **Connor Smith**
<br>
Net ID: **csmith77**
<br>
Title: **Exploratory Data Analysis in Pandas**

**Q1: Using the titanic dataset (or another dataset), write code that calculates at least 3 unique summary statistics. Include code + comments for each.**

In [4]:
# import pandas
import pandas as pd

# load titanic data from url
titanic = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/pandas-intro/main/data/titanic.csv")

# show first 5 rows of newly-loaded dataframe
titanic.head(5)

# calculate mean
titanic["Age"].max()

80.0

In [9]:
# import pandas
import pandas as pd

# load titanic data from url
titanic = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/pandas-intro/main/data/titanic.csv")

# show first 5 rows of newly-loaded dataframe
titanic.head(5)

# calculate mean
titanic[["Age", "Fare"]].mode()

    Age  Fare
0  24.0  8.05

In [11]:
# import pandas
import pandas as pd

# load titanic data from url
titanic = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/pandas-intro/main/data/titanic.csv")

# show first 5 rows of newly-loaded dataframe
titanic.head(5)

# calculate mean
titanic.agg(
  {
    "Age": ["min", "max", "median", "skew"],
    "Fare": ["min", "max", "median", "mean"],
   }
 )

              Age        Fare
max     80.000000  512.329200
mean          NaN   32.204208
median  28.000000   14.454200
min      0.420000    0.000000
skew     0.389108         NaN

**Q2: Describe element-wise calculation in your own words.**

<blockquote>Answer Q2: Element-wise calculations are equasions that are run on each row of data using the corresponding data points from that row in the desired variable columns.</blockquote>

**Q3: Using the air quality data or another dataset, write code that generates a new column based on an existing column(s). Include code + comments.**

In [13]:
# load air quality data from url
air_quality = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_no2.csv", index_col=0, parse_dates=True)

air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882

air_quality.head()

,station_antwerp,station_paris,station_london,london_mg_per_cubic
datetime,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286
2019-05-07 03:00:00,50.5,25.0,19.0,35.758
2019-05-07 04:00:00,45.0,27.7,19.0,35.758
2019-05-07 05:00:00,NaN,50.4,16.0,30.112
2019-05-07 06:00:00,NaN,61.9,NaN,NaN

**Q4: In your own words, provide a brief description/explanation for each function: .pivot(), .melt(), .pivot_table(), .stack(), and .unstack().**

<blockquote>Answer Q4: .pivot() = reorganizes the data into a new graph that has differne x and y values, .melt() = takes values associated with variables and puts them all other under the same columns of variable and value, .pivot_table() = creates a new table using the information that is gathered from the pivot funciton, .stack() = multindexes the data one step further than it previously was, .unstack() = take shte multindexing back and step from where it is</blockquote>

**Q5: Write sample code for at least two of these functions (pivot, melt, pivot_table, stack, unstack). Include code + comments.**

In [19]:
# import pandas
import pandas as pd

# load data
air_quality = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_long.csv")

# create subset with only no2 data
no2 = air_quality[air_quality["parameter"] == "no2"]

# group by station locations
no2_subset = no2.sort_index().groupby(["location"]).head(2)

# verify the output for our no2_subset dataframe
no2_subset

no2_subset.pivot(columns="location", values="value")

location  BETR801  FR04014  London Westminster
1825          NaN     20.0                 NaN
1826          NaN     21.8                 NaN
3501         41.0      NaN                 NaN
3502         45.0      NaN                 NaN
3664          NaN      NaN                11.0
3665          NaN      NaN                11.0

In [20]:
# import pandas
import pandas as pd

# load data
air_quality = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_long.csv")

# create subset with only no2 data
no2 = air_quality[air_quality["parameter"] == "no2"]

# group by station locations
no2_subset = no2.sort_index().groupby(["location"]).head(2)

# verify the output for our no2_subset dataframe
no2_subset

# create wide data format
no2_pivoted = no2.pivot(columns="location", values="value").reset_index()

# verify wide data
no2_pivoted.head()

location  index  BETR801  FR04014  London Westminster
0          1825      NaN     20.0                 NaN
1          1826      NaN     21.8                 NaN
2          1827      NaN     26.5                 NaN
3          1828      NaN     24.9                 NaN
4          1829      NaN     21.4                 NaN

**Q6: Describe how you are thinking about needing to use these functions in relation to data you're interested in working with as part of the final project.**

<blockquote>Answer Q6: I can use these functions that we discussed to help me understand where data falls in the order and how I can categorize different players and teams using the stack and unstack functions.</blockquote>

**Q7: In your own words, provide a description for .concat() and .merge(). What do these functions do? How are they different?**

<blockquote>Answer Q7: .concat() takes two tables and adds them together into one table and .merge() connects tables together using a key identifier or primary key. These are different as the .merge() will sort the data based on its key for the new table while .concat will just add the new data to the bottom of the original table.</blockquote>

**Q8: Write sample code for both functions (concat and merge). Include code + comments.**

In [23]:
# import pandas
import pandas as pd

# load no2 observation data
air_quality_no2 = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_long.csv", parse_dates=True)

# set column names
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

# make sure columns are renamed and no2 data is loaded
air_quality_no2.head()

# load pm25 data
air_quality_pm25 = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_pm25_long.csv", parse_dates=True)

# rename columns
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]

# make vsure columns are renamed and pm25 data is loaded
air_quality_pm25.head()

# load coordinates data
stations_coord = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_stations.csv")

# make sure coordinate data is loaded
stations_coord.head()

# load parameter data
air_quality_parameters = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_parameters.csv")

air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

air_quality.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [24]:
# import pandas
import pandas as pd

# load no2 observation data
air_quality_no2 = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_long.csv", parse_dates=True)

# set column names
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

# make sure columns are renamed and no2 data is loaded
air_quality_no2.head()

# load pm25 data
air_quality_pm25 = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_pm25_long.csv", parse_dates=True)

# rename columns
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]

# make sure columns are renamed and pm25 data is loaded
air_quality_pm25.head()

# load coordinates data
stations_coord = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_stations.csv")

# make sure coordinate data is loaded
stations_coord.head()

# load parameter data
air_quality_parameters = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/eda-pandas/main/data/air_quality_parameters.csv")

air_quality = pd.merge(air_quality, air_quality_parameters, how='left', left_on='parameter', right_on='id')

air_quality.head()

                    date.utc location parameter  value   id  description  name
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0  NaN          NaN   NaN
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5  NaN          NaN   NaN
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5  NaN          NaN   NaN
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0  NaN          NaN   NaN
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5  NaN          NaN   NaN

**Q9: Describe how you are thinking about needing to use these functions for the data you plan to work with in the final project.**

<blockquote>Answer Q9: As it pertains to my project, being able to merge and concatinate the player dat to the team data could allow me to easily understand how teams are formed and parse data from a team with a certain player on it.</blockquote>